<h1 class="title">{{site.about_me_title}}</h1>

<p class="description" data-aos="fade-down">
	👋 Hi, I'm a software engineer from Kampala, Uganda.
</p>

<p class="description" data-aos="fade-down">
	💻️ Experienced in Android and backend development. Proficient in Java, Kotlin, Spring Data, Hibernate, Relational databases, Event sourcing, Akka etc... Familiar with Python, Redis etc...
</p>

<p class="description" data-aos="fade-down">
	🌱 Passionate about solving problems with technology and constantly look forward to self-improvement in terms of learning and working with people.
</p>

<p class="description" data-aos="fade-down">
	📝️ I write about technologies that interest me on <a class="highlight-link" href="https://medium.com/@enocklubowa">my blog.</a>
</p>
